/*
 * #FF3333 #999999 #669999 #003333
 */

body
{
    background-color: #999;
    color: #003333;
}

h1, h2, h3, h4
{
    color: #699;
}

.masthead
{
    background-color: #003333;
    color: #ff3333;
}

.masthead a
{
    color: inherit;
}

#content
{
    background-color: #fff;
}

#footer,
.breadcrumbs.main.section a
{
    color: #444;
}

a
{
    color: #f33;
}

input,
button
{
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0.5em;
}

input[type="submit"],
button
{
    background-color: #ff3333;
    color: #fff;
    border-color: #ff3333;
    padding: 0.5em 1em;
}
