/*
 * http://www.colorcombos.com/color-scheme-6.html
 */

body
{
    background-color: #cccc99;
    color: #333;
}

h1, h2, h3, h4
{
    color: #990033;
}

.masthead
{
    background-color: #666633;
    color: #cccc99
}

.masthead a
{
    color: inherit;
}

#content
{
    background-color: #fff;
}

#footer
{
    color: #666633;
}
