body
{
    margin: 0;
    padding: 0;
}

.money,
.money > input
{
    text-align: right;
}

/******************************************************************************

main sections

******************************************************************************/

.main.section > .inner
{
    width: 96%;
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
}

/******************************************************************************

masthead

******************************************************************************/

#dynamicMasthead
{
    padding: 0.5em 0;
}

/******************************************************************************

content

******************************************************************************/

#content
{
    padding: 1em;
}

#content > .inner
{
    min-height: 20em;
}

#content > .inner > .section
{
    margin: 2em 0;
}

#content > .inner > .section:nth-of-type(first)
{
    margin-top: 1em;
}

/******************************************************************************

footer

******************************************************************************/

#footer
{
    padding-top: 1em;
}
