table
{
    width: 100%;
}

table th,
table td
{
    text-align: left;
    padding:  1em 0.5em;
}

table th:first-of-type,
table td:first-of-type
{
    padding-left: 0;
}

table th:last-of-type,
table td:last-of-type
{
    padding-right: 0;
}

table tbody tr td
{
    border-top: 1px dotted #ddd;
}

table tbody tr:nth-of-type(odd)
{
}
