{% extends '::base.html.twig' %}

{% block content %}
    <h1>Accounts</h1>

    <div class="section">
        {% for account in accounts %}
            <p><a href="{{ path('pengarwin_account_show', { 'path': account.path }) }}">{{ account.name }}</a></p>
        {% endfor %}
    </div><!-- .section -->

    <div class="section">
        <h3>Add New Account</h3>
        {{ form(form) }}
    </div><!-- .section -->
{% endblock %}
